

body {
  color: #000000;
  background-image: linear-gradient(-184deg, #404488 0%, #242536 50%);
  background-repeat: no-repeat;
  background-color: #242536;
 

}
.blockchain-bg .white {
  background-color: white !important;
}
.blockchain-bg {
  background-color: #efefef
}



.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #1EAEDB !important;
  border-color: #1EAEDB !important;
}
.leftb{
  text-align: left
  align-bottom
}
.card {
  max-width: 18%;
  min-width: 250px;
  margin-left: 5px;
  margin-right: 5px;
}
.card img{
  max-width: 100%;
}
.card-title2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 0.4px;
  text-align: left;
  color: #242536 !important;
  

}
.card-text {
  max-height: 100px;
  text-overflow: ellipsis;
  color: #9b9b9b;
  font-family: Montserrat;
  font-size: 9.3px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.59;
  letter-spacing: 0.5px;
  text-align: left;
  

}

.cnfont {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
.card-img-top{
  max-height: 150px;
}

#newscontainter
{
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  
}
.header-bg {
  
  background-blend-mode: darken;
  background-image: linear-gradient(#242536, #242536);
  background-image: linear-gradient(var(--dark), var(--dark));
}
.Logo {
  padding-left: 28px;
  padding-top: 100px;
  padding-bottom: 7px;
}
.layer {
  
  padding-top: 35px;
  padding-bottom: 15px;
  font-family: 'Montserrat', sans-serif; 
  font-size: 27px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #7ed321;
}
.high-low{
  padding-top: 35px; 
  padding-right: 19px
}
.Rectangle-4 {
  width: 82px;
  height: 25px;
  object-fit: contain;
  border-radius: 5.1px;
  background-color: #7ed321;
}
.container { 
  padding: 0px;
}
.blockchain-bg.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}
.align-left{
  text-align: left
}