body {
  color: #000000;
  background-image: linear-gradient(-184deg, #404488 0%, #242536 50%);
  background-repeat: no-repeat;
  background-color: #242536;
 

}

.blockchain-bg {
  background-image: url('assets/img/bg.png');
  background-repeat: no-repeat;

  background-position: top;
  padding-top: 10px;

}

.row {
  margin-top: 5px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #1EAEDB !important;
  border-color: #1EAEDB !important;
}

.card {
  max-width: 18%;
  min-width: 250px;
  margin-left: 5px;
  margin-right: 5px;
}

.card-text {
  max-height: 100px;
  text-overflow: ellipsis;
  line-height: normal;
  text-overflow: ellipsis;
  font-size: 10px;

}

.cnfont {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
.card-img-top{
  max-height: 150px;
}
#card_flex
{


}
#newscontainter
{
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  display: none;


}