.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(26, 24, 114);
  height: 190px;
  padding: 20px;
  color: white;
  align-content: center
  ;
}

.left-align {
  text-align: left;
}
.center-align {
  text-align: center;
}
.right-align {
  text-align: right;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.center {
  text-align: center;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
